# Dependencies
node_modules/
.bundle/

# Build outputs
.next/
out/
build/
dist/

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# Environment and Secrets
.env
.env*.local

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore